@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    background-image: linear-gradient(to bottom right, #00f499, #00bbc9);
}

h1{ 
    font-family: "Abril Fatface", serif;
}

